body {
    background-color: rgb(230, 223, 210);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: rgb(255, 255, 255);
    width: 320px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    
}

.card img {
    width: 100%;
    border-radius: 10px;
    
}

.card h1 {
    color: #1f314f;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: none;
    margin-top: 18px;
}

.card p {
    color: #7b8893;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.188px;
    width: 256px;
    margin: auto;
    margin-top: 16px auto 24px;
}